*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input {
    border: none;
    outline: none;
}

.right {
    text-align: right;
}

.app-heading-text {
    display: flex;
    align-items: center;
}

.chat-window-wrapper {
    border: 0.5px solid #d9d9d9;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    position: relative;
}

.app-heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle-name-input {
    margin-top: 10px;
    flex-basis: 40%;
    padding: 10px;
    width: 180px;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #575ed8;
}

.handle-name-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.app-status-div {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.typing-info,
.users-info {
    flex-basis: 50%;
}

.typing-info-text {
    font-style: italic;
    padding: 10px 20px;
    color: #aaa;
}

.users-info p {
    text-align: right;
    padding: 10px 20px;
}

.user-count {
    color: green;
}

.chat-window-body {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 500px;
    height: 200px;
    overflow: auto;
    background-color: rgb(237 237 237 / 80%);
    position: relative;
}

.chat-window-chats {
    padding-right: 27px;
}

.chat-window-chats p {
    padding: 5px 0px;
    margin: 0 20px;
    color: #555;
    font-family: "Roboto", sans-serif;
}

/* Message Element Styles */

.message-container {
    background-color: #f1e5e5;
    position: relative;
    padding: 5px 0px;
    margin: 0 20px;
    color: #555;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(194, 181, 181);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);
    margin-top: 3px;
    width: fit-content;
    min-width: 90px;
}

.message-sender {
    color: #f58231;
    padding-left: 5px;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.message-content {
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.message-time {
    align-self: flex-end;
    font-size: 0.7rem;
}

.unread-msgs-div {
    position: sticky;
    margin-left: auto;
    bottom: 20px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d1c8c8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

/* Helper Classes */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.flex {
    display: flex;
}

.unread-msgs-icon {
    padding-top: 2px;
    font-size: 1.3rem;
    width: 20px;
    height: 20px;
    margin: auto;
    color: green;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.unread-msgs-count {
    font-family: Roboto, "sans-serif";
    font-size: 0.7rem;
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    right: 5px;
    bottom: 24px;
    background-color: #c5b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    color: green;
    opacity: 1;
}

.handle-name {
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.9rem;
}

.chat-window-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-input {
    flex-basis: 85%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #fff;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
    border-right: 1px solid #eee;
}

button {
    flex-basis: 15%;
    outline: none;
    cursor: pointer;
    background: white;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 9px 0;
    opacity: 0.9;
}

button i {
    color: #575ed8;
}

button:active,
button:hover {
    opacity: 1;
}

footer {
    font-family: Roboto, "sans-serif";
    position: fixed;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer p {
    display: inline-block;
    text-align: center;
}

.social-icon {
    font-size: 1.5rem;
    margin-right: 8px;
}

@media screen and (max-width: 500px) {
    .chat-window-wrapper {
        margin-top: 30px;
        width: 96%;
    }
    footer {
        flex-direction: column;
        gap: 0.8rem;
        bottom: 5px;
    }
}

@media screen and (max-height: 510px) {
    footer {
        display: none;
        
    }
    .chat-window-body {
        min-height: 300px;
    }
}

@media screen and (max-height: 550px) {
    .chat-window-wrapper {
        margin-top: 0px !important;
    }
    .chat-window-body {
        min-height: 300px;
    }
}
